@import '../../../color.styles';

$linear-color: background-color 500ms linear;

.point-row {
  background-color: $main-table-color;
  -webkit-transition: $linear-color;
  -ms-transition: $linear-color;
  transition: $linear-color;
}

.point-id {
  text-align: center;
  background: $dark-table-color;
  color: #ebf4ff;
}
