/* ==========================================================================
Main page styles
========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.font-light {
  font-weight: lighter;
}

.Source {
  font-family: 'Source Sans Pro', sans-serif;
}

.Baskerville {
  font-family: 'Libre Baskerville', serif;
}

.Montserrat .font-light {
  font-family: 'Montserrat', sans-serif;
}

.file-upload {
  width: 5%;
  padding-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.text-white {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.white-center {
  @extend .text-center;
  @extend .text-white;
  font-size: medium;
}
